/* IMPORT COLORS */
@import "Colors.css";

window#osd {
  border-radius: 14px;
  border: 5px solid alpha(@bg, 0);
  background: alpha(@bg, 0.9);
  padding: 0px;
}

window#osd #container {
  margin: 3px;
  background: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0px;
}

window#osd image {
  color: @fg;
}

window#osd label {
  color: @fg2;
  font-family: Barlow;
  font-weight: 800;
  font-size: 19px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  color: @accent1;
}

window#osd progressbar {
  min-height: 10px;
  border-radius: 0px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: 15px;
  border-radius: inherit;
  background: alpha(@accent2, 0.5);
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  background: linear-gradient(135deg, @grad1, @grad2);
}

window#osd progress:disabled {
  min-height: inherit;
  border-radius: inherit;
  background: alpha(@accent2, 0.5);
}
